# Build results
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# Logs
*.log

# NuGet
*.nupkg
packages/

# Resharper
_ReSharper*/
*.DotSettings.user

# MAUI
**/platforms/
**/Resources/Raw/*

# Publish output
publish/
